
.button{
	color: $title-color;
	display: inline-block;
	padding: 1rem 1.75rem;
	border-radius: 0.5rem;
	font-weight: $font-medium;
	background-color: $first-color;
	transition: .3s;
	&:hover{
		background-color:$first-color-alt;
	    }
	&--ghost{
		border: 2px solid;
		padding:.75rem  1.5rem;
		border-radius:3rem;
		background-color: transparent;	
	}
	&--flex{
		display:inline-flex;
		align-items: center;
		column-gap: .5rem;

	}
	&--link{
		color: $title-color;
	}
	&__icon{
		font-size: $h2-font-size;
	}
}