.home__content{
	row-gap: 1rem;
	&--group{
		display: grid;
		position: relative;
		padding-top:2rem;
		.home__img{
			width: 250px;
			justify-self: center;
		}
		.home__indicator{
			position: absolute;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $title-color;
			top:7rem;
			right: 2rem;
		}
		.home__indicator::after{
			position: absolute;
			content: "";
			width: 1px;
			height: 48px;
			
			background-color: $title-color;
			top:-3rem;
			right: 45%;
		}
		.home__details-img{
			position: absolute;
			right: .5rem;
			.home__details-title, .home__details-subtitle{
				font-size: $small-font-size;
				display: block;
				text-align: right;
			}
		}
	}
	&--data{
		.home__subtitle{
			text-transform: uppercase;
			font-size: $h3-font-size;
			margin-bottom:$mb-1;
		}
		.home__title{
			text-transform: uppercase;
			font-size: $biggest-font-size;
			font-weight: $font-black;
			line-height: 109%;
			margin-bottom:$mb-1;
		}
		.home__description {
			margin-bottom: $mb-1;
		    }
		    .home__buttons{
			    display: flex;
			    justify-content: space-between;
		    }
	}

}
.swiper-pagination{
	position: relative;
}
.swiper-pagination-bullet{
	height: 5px;
	width: 5px;
	background-color: $title-color;
	opacity: 1;
	transition: .1s;
}
.swiper-pagination-bullet-active{
	background-color: $title-color;
	width: 1.5rem;
	border-radius: .5rem;
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 0.5rem;
    }
@media screen and (min-width:767px){
	.home__content{
		padding: 8rem 0 2rem;
		grid-template-columns: repeat(2, 1fr);
		gap:4rem;
		.home__img{
			width: 300px;
		}
	}
	.swiper-pagination{
		margin-top: $mb-1;
	}
	
}


@media screen and (min-width:992px){
	.home__content{
		padding-top:9rem;
		grid-template-columns: repeat(2, 1fr);
		gap:3rem;
		&--group{
			padding-top: 0;
		}
		.home__img{
			width: 400px;
			transform: translateY(-3rem);
		}
		.home__details-img{
			bottom: 0;
			right: 58%;
		}
		.home__indicator{
			top:initial;
			right: initial;
			bottom: 15%;
			left: 45%;
		}
		.home__indicator::after{
			top:initial;
			height: 70px;
		}
		// &--data{
		// 	.home__title{
		// 		// font-size: $biggest-font-size;
		// 		// margin-bottom: $mb-1-5;
		// 	}
		// }
	}
	.swiper-pagination{
		margin-top: $mb-1;
	}
	
}