.new__content{
	position: relative;
	border-radius: .75rem;
	background: $container-color;
	padding: 2rem 0 1rem 0;
	text-align: center;
	width: 242px;
	overflow: hidden;
	
	.new__img{
		width: 90px;
	}
	.new__subtitle{
		display: block;
		font-size: $smaller-font-size;
		margin-bottom:$mb-0-5;
	}
	.new__prices{
		display: inline-flex ;
		align-items: center;
		column-gap: .5rem;
		.new__discount{
			font-size: .75rem;
			color: $first-color;
			text-decoration: line-through;
		}
	}
	.new__price, .new__title{
		color: $title-color;
		font-size:$h3-font-size;
		font-weight: $font-medium;

	}
	.new__tag{
		position: absolute;
		padding: .25rem .5rem;
		top:8%;
		left: 8%;
		border-radius: .25rem;
	}
	.new__button{
		position: absolute;
		bottom: 0;
		padding: .5rem;
		border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
		right:-3rem;
	}
	.new__button, .new__img{
		transition:  0.25s;
	}
}
.new__container {
	padding-top: 1rem;
    }
.new__content:hover .new__img{
	transform: translateY(-10px);
}
.new__content:hover .new__button{
	right: 0;
}
@media screen and (min-width:992px){
	.new__content{
		width: 310px;
		padding: 2rem 0;
		border-radius: 1rem;
		.new__img{
			width: 150px;
		}
		.new__img, .new__subtitle{
			margin-bottom: $mb-1;
		}
	}
}

